*RData
*impute2*
*.out
.snakemake/
.DS_Store
.ipynb_checkpoints/
data/
results/
*.tsv
logs/
graphs/
tmp/
__pycache__
scripts/submit_test.sh
scripts/lcSV/*
scripts/*nonahore*
scripts/notebooks/*
scripts/extract_gnomAD_MAF.sh
scripts/__pycache__
.vscode/
*.pdf
tmp/

pipelines/chip_imputation.smk
pipelines/dump.smk
pipelines/gwas.smk
pipelines/hla_graph_align.smk
pipelines/hla_imputation_auxiliary.smk
pipelines/hla_imputation_method_new.smk
pipelines/hla_imputation_prep.smk
pipelines/hla.smk
pipelines/master_gwas.smk
pipelines/master_mini.smk
pipelines/mini.smk
pipelines/rmdup.smk
