*RData
*impute2*
*.out
.snakemake/
.DS_Store
.ipynb_checkpoints/
data/
results/
*.tsv
logs/
graphs/
tmp/
__pycache__
scripts/submit_test.sh
scripts/lcSV/*
scripts/*nonahore*
scripts/notebooks/*
scripts/__pycache__
.vscode/
*.pdf
tmp/
